<!DOCTYPE html>
<html>
<head>
    <title>Angular Creative Project</title>
    <link href="styles.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="script.js"></script>
</head>
<body ng-app="myApp" ng-controller="myCtrl" data-ng-init="init()">
    <h1>Matching Game</h1>
    <div id="buttons">
        <button ng-click="init()">New Game</button>
        <button ng-click="checkPicture()">Check Match</button>

    </div>
    <table>
        <tr>
            <td id="0" ng-click="flipOver(0)"><img ng-src="{{zeroZero}}" alt="a picture"></td>
            <td id="1" ng-click="flipOver(1)"><img ng-src="{{zeroOne}}" alt="a picture"></td>
            <td id="2" ng-click="flipOver(2)"><img ng-src="{{zeroTwo}}" alt="a picture"></td>
            <td id="3" ng-click="flipOver(3)"><img ng-src="{{zeroThree}}" alt="a picture"></td>
        </tr>
        <tr>
            <td id="4" ng-click="flipOver(4)"><img ng-src="{{oneZero}}" alt="a picture"></td>
            <td id="5" ng-click="flipOver(5)"><img ng-src="{{oneOne}}" alt="a picture"></td>
            <td id="6" ng-click="flipOver(6)"><img ng-src="{{oneTwo}}" alt="a picture"></td>
            <td id="7" ng-click="flipOver(7)"><img ng-src="{{oneThree}}" alt="a picture"></td>
        </tr>
        <tr>
            <td id="8" ng-click="flipOver(8)"><img ng-src="{{twoZero}}" alt="a picture"></td>
            <td id="9" ng-click="flipOver(9)"><img ng-src="{{twoOne}}" alt="a picture"></td>
            <td id="10" ng-click="flipOver(10)"><img ng-src="{{twoTwo}}" alt="a picture"></td>
            <td id="11" ng-click="flipOver(11)"><img ng-src="{{twoThree}}" alt="a picture"></td>
        </tr>
        <tr>
            <td id="12" ng-click="flipOver(12)"><img ng-src="{{threeZero}}" alt="a picture"></td>
            <td id="13" ng-click="flipOver(13)"><img ng-src="{{threeOne}}" alt="a picture"></td>
            <td id="14" ng-click="flipOver(14)"><img ng-src="{{threeTwo}}" alt="a picture"></td>
            <td id="15" ng-click="flipOver(15)"><img ng-src="{{threeThree}}" alt="a picture"></td>
        </tr>
    </table>
</body>
</html>